
body {
    font-family: sans-serif;
}

.error {
    color: #a94442;
    background-color: #f2dede;
}

.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.full-screen-message {
    display: table-cell;
    vertical-align: middle;
}

td:first-child {  /* make all tables share the same column width (avoids ugly misalignment among tables) */
    width: 60%;
}
